#MainMenu {visibility: hidden;}
footer {visibility: hidden;}
header {visibility: hidden;}


.st-emotion-cache-zy6yx3 {
    padding: 1rem 1rem 10rem;
}

.st-emotion-cache-1ne20ew {
    background-color: white;
    border-radius: 10px;
    padding: 25px 36px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0px 4px 8px rgba(0,0,0,0.05);
    font-family: "Segoe UI", sans-serif;
    height: 1050px;
}